body {
  background-color: black;
  color: #e1dcdc;
  font-family: Mono,helvetica;
  padding: 2rem;
}

header {
  margin-bottom: 5rem;
}

section {
  margin-bottom: 3rem;
}

a:link {
  color: #dda4a4;
  text-decoration: none;
}
a:visited {
  color: #dda4a4;
  text-decoration: none;
}
a:hover {
  color: #e67c7c;
  text-decoration: none;
}
a:active {
  color: #e67c7c;
  text-decoration: none;
}
