body {
  background-color: black;
  color: white;
  font-family: Mono,helvetica;
}

header {
  margin-bottom: 5rem;
}

section {
  margin-bottom: 3rem;
}

a:link {
  color: #cccccc;
}
a:visited {
  color: #bbbbbb;
}
a:hover {
  color: #dddddd;
}
