body {
  background-color: black;
  color: white;
  font-family: Mono,helvetica;
  padding: 2rem;
}

header {
  margin-bottom: 5rem;
}

section {
  margin-bottom: 3rem;
}

a:link {
  color: #cccccc;
  text-decoration: none;
}
a:visited {
  color: #bbbbbb;
  text-decoration: none;
}
a:hover {
  color: #dddddd;
  text-decoration: none;
}
a:active {
  color: #dddddd;
  text-decoration: none;
}
